.app {
  background:linear-gradient(to top,slategray,white);
  font-family: "Sevillana", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
  padding-top: 5rem;
 }
 
 